<a href="https://colab.research.google.com/github/PiyushGithub24/MACHINE_LEARNING_BY_PIYUSH_KUMAR/blob/main/Day_18(a)Fetchind_data_from_web_scaping(30_05_24).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Creating a dataframe with company names and their rating:---

In [159]:
import pandas as pd
import requests
from bs4 import BeautifulSoup     #bs4:-beautifulsoup4

In [160]:
requests.get("https://www.ambitionbox.com/list-of-companies?page=1")

In [161]:
requests.get("https://www.ambitionbox.com/list-of-companies?page=1").text

'<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don\'t have permission to access "http&#58;&#47;&#47;www&#46;ambitionbox&#46;com&#47;list&#45;of&#45;companies&#63;" on this server.<P>\nReference&#32;&#35;18&#46;1c0c2d17&#46;1717072092&#46;203a743c\n<P>https&#58;&#47;&#47;errors&#46;edgesuite&#46;net&#47;18&#46;1c0c2d17&#46;1717072092&#46;203a743c</P>\n</BODY>\n</HTML>\n'

in above o/p <Response [403]> means bad requests ,i.e, server reject your requests

In [162]:
headers=headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage=requests.get("https://www.ambitionbox.com/list-of-companies?page=1",headers=headers).text

In [163]:
soup=BeautifulSoup(webpage,'lxml')   #'lxml' is a html parser which help in parsing the html page

In [164]:
#print(soup.prettify())   #prettify() fun is used to organize our html page

In [165]:
soup.find_all('h1')

[<h1 class="companyListing__title">
 							List of companies in India
 						</h1>]

In [166]:
soup.find_all('h1')[0]

<h1 class="companyListing__title">
							List of companies in India
						</h1>

In [167]:
soup.find_all('h1')[0].text

'\n\t\t\t\t\t\t\tList of companies in India\n\t\t\t\t\t\t'

In [168]:
print(soup.find_all('h1')[0].text)

							List of companies in India

In [169]:
print((soup.find_all('h1')[0].text).strip())

List of companies in India

In [170]:
soup.find_all('h2')  #since it gives list of all 'h2 tags and we want text from every element of the list

[<h2 class="companyCardWrapper__companyName" title="TCS">
 										TCS
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Accenture">
 										Accenture
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Cognizant">
 										Cognizant
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Wipro">
 										Wipro
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Capgemini">
 										Capgemini
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="HDFC Bank">
 										HDFC Bank
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="ICICI Bank">
 										ICICI Bank
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Infosys">
 										Infosys
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="HCLTech">
 										HCLTech
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Tech Mahindra">
 										Tech Mahindra
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Genpact">
 										Genpact
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Axis Bank">
 										Axis Bank
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Teleperformance">
 										Teleperformance
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Concentrix Corporation">
 										Concentrix Corporation
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Jio">
 										Jio
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Amazon">
 										Amazon
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="IBM">
 										IBM
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Reliance Retail">
 										Reliance Retail
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="HDB Financial Services">
 										HDB Financial Services
 									</h2>,
 <h2 class="companyCardWrapper__companyName" title="Larsen &amp; Toubro Limited">
 										Larsen &amp; Toubro Limited
 									</h2>,
 <h2 class="main-title body-medium">
 			Companies by  Industry
 		</h2>,
 <h2 class="main-title body-medium">
 			Companies by  Locations
 		</h2>,
 <h2 class="main-title body-medium">
 			Companies by  Type
 		</h2>,
 <h2 class="main-title body-medium">
 			Companies by  Badges
 		</h2>]

In [171]:
(soup.find_all('h2')[0].text).strip()

'TCS'

In [172]:
for i in soup.find_all('h2'):
  print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
Capgemini
HDFC Bank
ICICI Bank
Infosys
HCLTech
Tech Mahindra
Genpact
Axis Bank
Teleperformance
Concentrix Corporation
Jio
Amazon
IBM
Reliance Retail
HDB Financial Services
Larsen & Toubro Limited
Companies by  Industry
Companies by  Locations
Companies by  Type
Companies by  Badges

#since in above company's name these are also appear:--
Companies by  Industry

Companies by  Locations

Companies by  Type

Companies by  Badges

due to h2 tag.
#so we will also use class with tag

In [173]:
comp_names=[]
for i in soup.find_all('h2',class_="companyCardWrapper__companyName"):
  print(i.text.strip())
  comp_names.append(i.text.strip())

TCS
Accenture
Cognizant
Wipro
Capgemini
HDFC Bank
ICICI Bank
Infosys
HCLTech
Tech Mahindra
Genpact
Axis Bank
Teleperformance
Concentrix Corporation
Jio
Amazon
IBM
Reliance Retail
HDB Financial Services
Larsen & Toubro Limited

In [174]:
comp_names

['TCS',
 'Accenture',
 'Cognizant',
 'Wipro',
 'Capgemini',
 'HDFC Bank',
 'ICICI Bank',
 'Infosys',
 'HCLTech',
 'Tech Mahindra',
 'Genpact',
 'Axis Bank',
 'Teleperformance',
 'Concentrix Corporation',
 'Jio',
 'Amazon',
 'IBM',
 'Reliance Retail',
 'HDB Financial Services',
 'Larsen & Toubro Limited']

In [175]:
#Lets print the total company names in first page
len(comp_names)

20

#congrats piyush you get th name of all companies from first html page

In [176]:
#Now let's extract the rating
(soup.find_all('span',class_="companyCardWrapper__companyRatingValue")[0]).text

'3.8'

In [177]:
comp_ratings=[]
for i in soup.find_all('span',class_="companyCardWrapper__companyRatingValue"):
  print(i.text)
  comp_ratings.append(i.text)

3.8
4.0
3.9
3.8
3.8
4.0
4.0
3.8
3.7
3.7
3.9
3.9
3.8
3.9
4.0
4.1
4.1
4.0
4.0
4.1

In [178]:
len(comp_ratings)

20

#Yeh!! i also extract the ratings of the comapnies

In [179]:
#let's create dataframe
comp=dict(Company_names=comp_names,Rating_values=comp_ratings)
#comp_info=pd.DataFrame(Com)
comp

{'Company_names': ['TCS',
  'Accenture',
  'Cognizant',
  'Wipro',
  'Capgemini',
  'HDFC Bank',
  'ICICI Bank',
  'Infosys',
  'HCLTech',
  'Tech Mahindra',
  'Genpact',
  'Axis Bank',
  'Teleperformance',
  'Concentrix Corporation',
  'Jio',
  'Amazon',
  'IBM',
  'Reliance Retail',
  'HDB Financial Services',
  'Larsen & Toubro Limited'],
 'Rating_values': ['3.8',
  '4.0',
  '3.9',
  '3.8',
  '3.8',
  '4.0',
  '4.0',
  '3.8',
  '3.7',
  '3.7',
  '3.9',
  '3.9',
  '3.8',
  '3.9',
  '4.0',
  '4.1',
  '4.1',
  '4.0',
  '4.0',
  '4.1']}

#Let's create dataframe of companys names and rating values

In [180]:
comp_df=pd.DataFrame(comp)
comp_df.head()

  Company_names Rating_values
0           TCS           3.8
1     Accenture           4.0
2     Cognizant           3.9
3         Wipro           3.8
4     Capgemini           3.8

In [181]:
comp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_names  20 non-null     object
 1   Rating_values  20 non-null     object
dtypes: object(2)
memory usage: 448.0+ bytes

In [182]:
#changing the datatype of Rating_values to float
comp_df[["Rating_values"]]=comp_df[["Rating_values"]].astype(float)

In [183]:
comp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_names  20 non-null     object
 1   Rating_values  20 non-null     float64
dtypes: float64(1), object(1)
memory usage: 448.0+ bytes

#Highest rating company name:--

In [184]:
highest_rating_index=comp_df['Rating_values'].idxmax()
highest_rating_index

15

In [185]:
comp_name_at_highest_rating_index=comp_df.loc[highest_rating_index,'Company_names']
print("The highest rating company is : ",comp_name_at_highest_rating_index)

The highest rating company is :  Amazon